* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(81deg, #ddb35f, #7409c7);
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    149deg,
    rgba(24, 187, 156, 1) 0%,
    rgba(106, 57, 175, 1) 42%,
    rgba(187, 24, 148, 1) 72%,
    rgba(115, 53, 134, 1) 100%
  );
  animation: gradient 10s infinite linear;
  background-size: 400%;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

p {
  margin: 0;
  padding: 0;
}

.slider {
  border-radius: 10px;
  overflow: hidden;
}

.main {
  padding: 30px;
}

.content-g {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.bar:hover {
  transform: scale(1.2);
}

input[name="r"] {
  display: none;
  visibility: hidden;
}

.wrapper__slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  height: 500px;
  background: #fff;
  transition: all 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#r1:checked ~ .wrapper__slides .s1,
#r1:checked ~ .text__hidder .s1 {
  margin-left: 0;
}

#r2:checked ~ .wrapper__slides .s1,
#r2:checked ~ .text__hidder .s1 {
  margin-left: -25%;
}

#r3:checked ~ .wrapper__slides .s1,
#r3:checked ~ .text__hidder .s1 {
  margin-left: -50%;
}

#r4:checked ~ .wrapper__slides .s1,
#r4:checked ~ .text__hidder .s1 {
  margin-left: -75%;
}

.wrap__text {
  overflow: hidden;
  display: flex;
  width: 400%;
}

.wrap__text p {
  width: 25%;
  color: #fff;
  padding-left: 5px;
  transition: all 0.3s ease;
}

.text__hidder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 0;
}

.div {
  width: 100%;
  overflow: hidden;
}

#r1:checked ~ .text__hidder > .navigation > label[for="r1"] .btn {
  background-color: red;
}
#r2:checked ~ .text__hidder > .navigation > label[for="r2"] .btn {
  background-color: red;
}
#r3:checked ~ .text__hidder > .navigation > label[for="r3"] .btn {
  background-color: red;
}
#r4:checked ~ .text__hidder > .navigation > label[for="r4"] .btn {
  background-color: red;
}

.btn {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ddd;
}
