* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(81deg, #ddb35f, #7409c7);
  height: 100vh;
  width: 100%;
}


p {
  margin: 0;
  padding: 0;
}

.slider {
  border-radius: 0.6rem;
  overflow: hidden;
}

.main {
  padding: 1.8rem;
}

.content-g {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: end;
  gap: 0.6rem;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.bar:hover .btn {
  border: 0.1rem solid #000;
}

input[name="r"] {
  display: none;
  visibility: hidden;
}

.wrapper__slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  max-height: 31rem;
  background: #fff;
  transition: all 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .wrapper__slides .s1,
#r1:checked ~ .text__hidder .s1 {
  margin-left: 0;
}

#r2:checked ~ .wrapper__slides .s1,
#r2:checked ~ .text__hidder .s1 {
  margin-left: -25%;
}

#r3:checked ~ .wrapper__slides .s1,
#r3:checked ~ .text__hidder .s1 {
  margin-left: -50%;
}

#r4:checked ~ .wrapper__slides .s1,
#r4:checked ~ .text__hidder .s1 {
  margin-left: -75%;
}

.wrap__text {
  overflow: hidden;
  display: flex;
  width: 400%;
}

.wrap__text p {
  width: 25%;
  color: #fff;
  padding-left: 0.3rem;
  font-size: 1.3rem;
  transition: all 0.3s linear;
}

.text__hidder {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 0.6rem 0;
}

.text__hidden {
  width: 100%;
  overflow: hidden;
}

#r1:checked ~ .text__hidder > .navigation > label[for="r1"] .btn {
  background-color: red;
}
#r2:checked ~ .text__hidder > .navigation > label[for="r2"] .btn {
  background-color: red;
}
#r3:checked ~ .text__hidder > .navigation > label[for="r3"] .btn {
  background-color: red;
}
#r4:checked ~ .text__hidder > .navigation > label[for="r4"] .btn {
  background-color: red;
}

.btn {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ddd;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .text__hidder {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .text__hidden {
    order: 1;
  }

  .navigation {
    justify-content: center;
    margin: 0.6rem 0;
  }

  .wrap__text p {
    font-size: 1.1rem;
    padding-left: 0;
  }
}
